<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-light-grey w3-wide personalName">in the office</span>
  </div>
</div>

<!-- Container (Portfolio Section) -->
<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center" style="font-family: 'roboto'">HOW DO I WORK?</h3>
  <p class="w3-center" style="font-family: 'exo'; font-style: italic;"><em>Music + Coding = Awesome Feeling.</em></p><br>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
 <!-- <div class="w3-row-padding w3-center">
    <div class="w3-col m3">
      <img src="img_p1.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity">
    </div>

    <div class="w3-col m3">
      <img src="img_p2.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity">
    </div>

    <div class="w3-col m3">
      <img src="img_p3.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity">
    </div>

    <div class="w3-col m3">
      <img src="img_p4.jpg" style="width:100%" onclick="onClick(this)" class="w3-hover-opacity">
    </div>
  </div>-->
  <div class="container">
  <div class="row">
    <br>
    <div class="col-md-4">
      <iframe src="https://embed.spotify.com/?uri=spotify%3Auser%3A12140751250%3Aplaylist%3A5evvV7jk4NXf4XD92bqFCD" width="auto" height="380" frameborder="0" allowtransparency="true">
      </iframe>
    </div>
    <div class="col-md-8">
      <p>Music is the best way to know ourselves and to know the others, that's why I like to code with music. That way I can know myself better.</p>
      <br>
      <p>
        I just need a full stomach and a very fussy hand picked music playlist for programming. Check out this playlist I made myself to chill and inspire yourself as you code. 
      </p>
      <br>
      <p>
        This one is my favorite one to code, I made it for that porpose and I named it as <a href="https://open.spotify.com/user/12140751250/playlist/5evvV7jk4NXf4XD92bqFCD">"The Software Inspiration".</a>
      </p>
    </div>
  </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-closebtn w3-hover-red w3-text-white w3-xxxlarge w3-container w3-display-topright">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
    <img id="img01" style="max-width:100%">
  </div>
</div>


<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container">
  <div class="w3-display-middle">
     <span class="w3-xxlarge w3-text-light-grey w3-wide personalName">contact</span>
  </div>
</div>

<!-- Container (Contact Section) -->
<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center" style="font-family: 'roboto'">WHERE I WORK</h3>
  <p class="w3-center" style="font-family: 'exo'; font-style: italic;"><em>Do you like it? Do you hate it?. Don't be afraid to tell me.</em></p>

  <div class="w3-row w3-padding-32 w3-section">
    <div class="w3-col m4 w3-container">
      <!-- Add Google Maps -->
      <div id="googleMap" class="w3-round-large"></div>
    </div>
    <div class="w3-col m8 w3-container w3-section">
        <div class="w3-large w3-margin-bottom">
          <i class="fa fa-map-marker w3-hover-text-black" style="width:30px"></i> Maracaibo, VE<br>
          <i class="fa fa-phone w3-hover-text-black" style="width:30px"></i> Phone: +58 4121003893<br>
          <i class="fa fa-envelope w3-hover-text-black" style="width:30px"> </i> Email: sotous0@gmail.com<br>
        </div>
        <form class="form-auth" name="form" ng-submit="sendEmailFrom()" ng-show="clear">
         <p>Let's talk or leave me a comment, any advice will be well recieved.</p>      
        <div class="row">
          <div class="col-sm-4">
            <input class="w3-input w3-border w3-hover-light-grey" required type="text" placeholder="Name" ng-model="name">
          </div>
          <div class="col-sm-4" style="width: 334px">
            <input class="w3-input w3-border w3-hover-light-grey" required type="email" placeholder="Email" ng-model="email" ng-keyup="validate()"/> 
            <span ng-show="notice" ng-style="emailNotice">{{emailMessage}}</span>
          </div>
          <div class="col-sm-4" style="width:0px; margin-top: 10px" ng-show="showCircle">
            <!--<strong><md-progress-circular md-mode="indeterminate"></md-progress-circular></strong>-->
            <round-progress
              max="100"
              current=current
              color="#EB0005"
              bgcolor="#eaeaea"
              radius="12"
              stroke="4"
              semi="false"
              rounded="true"
              clockwise="false"
              responsive="false"
              duration="3000"
              animation="easeOutCubic"
              animation-delay="0"></round-progress>           
          </div>
        </div>
        <div class="row" style="margin-top:20px">
          <div class="col-sm-12" style="width:86.3%">
            <textarea class="w3-input w3-border w3-hover-light-grey" required type="text" placeholder="Comment" style="width:100%" ng-model="comment"></textarea>
          </div>
        </div>       
         <br>
        <div class="alert alert-danger" ng-show="invalid">
          Connection failure. Retry after checking the connection of your internet.
        </div>
        <div class="row">
          <div class="col-sm-12" style="width:88%">
           <md-button class="md-raised md-primary w3-right" ng-style="buttonClass" type="submit" ng-disabled="disabled">send
            <md-tooltip md-direction="left">
              go!
            </md-tooltip>
           </md-button>
           </div>
         </div>
      </form>
      <div class="row" ng-hide="clear || sent" style="padding:55px">
        <div class="col-sm-12">
          <round-progress
              max="100"
              current=current
              color="#000"
              bgcolor="#eaeaea"
              radius="60"
              stroke="10"
              semi="false"
              rounded="true"
              clockwise="false"
              responsive="false"
              duration="3000"
              animation="easeOutCubic"
              animation-delay="0"></round-progress>   
              <span style="color:#bd5353; font-weight: bold; margin-left: -45px">We are sending your message...</span>
        </div>
      </div>      
      <div class="w3-row-padding">
          <div class="w3-col m12">
              <div class="w3-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom" ng-show="sent" style="background-color: #24282B">
                  <div class="w3-container w3-padding">
                      <p style="color:white">Nice!! Your email has been sent. Thank you for being interested in this small project, we will contact you soon. Meanwhile you can check out my profiles on the social networks showed in this site.<br> Have a nice week! :D</p>
                      <br>
                      <img src="images/logoSotous1.png" style="margin-left: 0px; width:80px; vertical-align: text-bottom;">
                  </div>
              </div>
          </div>
      </div>
    </div>
  </div>